/* -----------------------メニューナビバー----------------------- */
.navbar-light .navbar-toggler {
  color: #333;
  border-color: transparent;
}
.material-icons {
  vertical-align: middle;
}
button:focus {
  outline:0;
}
/* ---アンカーリンク--- */
#top {
    margin-top:-100px;
    padding-top:100px;
}
#tops {
    width:100%;
    height:56px;
    background-color: #333;
}


/* -----------------------アートワーク一覧 -----------------------*/

#artworktitle {
    font-size: 24px;
}

.artwork{
    display:flex;
    width: 100%;
    flex-wrap: wrap;
    margin-top: 5px;
    justify-content: center;
    /* justify-content:space-around; */
}

.artworks {
    /* background-color: rgb(158, 156, 156); */
    width: 165px; height: 250px;
    margin: 7px;
    
}
.artimg {
    background-color: rgb(134, 208, 226);
    width: 165px; height: 165px;
    /* 画像の比率の指定 */
    object-fit: contain; 
    position: relative;
}

/* いいねボタン */
.artht {
   width: 30px;
   position: absolute;
   right: 2px;
   bottom: 2px;
}

#artcomment {
    background-color: rgb(211, 209, 209);
    width:165px;
    height: 85px;
}
#artcomment p {
    font-size: small;
    /* margin-top: 1px; */
    margin-bottom: 1px;
}

.artmore {
    font-size: 20px;
    border: 1px solid #aaa;
    width: 343px;
    text-align: center;
    margin:  0 auto; 
    margin-top: 40px;
    margin-bottom: 40px;
    border-radius: 5px;
}



/* ------------------------- 閲覧履歴 ------------------------- */

.rireki {
    display:flex;
    width: 100%;
    flex-wrap: wrap;
    margin-top: 5px;
    justify-content: center;
    /* justify-content:space-around; */
}

.rirekiimg {
    background-color: rgb(158, 156, 156);
    width: 100px; height: 100px;
    margin: 7px;
}

/* TOP戻るボタン */
img.pagetop {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60px;
    height: 60px;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* フッター */
.footertitle {
    font-size: 20px;
    width: 100%;
    height: 35px;
    background-color: #343a40;
    color: #ffffff; 
    text-align: center;
}

.footer {
    width: 100%;
    height: 90px;
    background-color: #343a40; 
    font-size: 18px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items:center;
}
.riyoukiyaku {
    padding:10px;
}
.contact {
    padding:10px;
}
.company {
    padding:10px;
}

